/*Global variables */
:root {
    --background-color: #f4f7fa;
    --color-next-layer: #333;
    --color: #1a1a1a;
    --background-color-next-layer: #ccc;
    --form-ok-color: #02aa42;
    --form-warn-color: #dba401;
    --form-error-color: #cf0000;
    --form-info-color: #008ce8;
    --table-header-color: rgb(0, 200, 0);
    --table-highlight-color: rgb(255, 180, 0);
    --link-color: rgb(26, 98, 232);
    --form-background: linear-gradient(to bottom right, #0099ff 0%, #000066 85%);
}

html.darkMode {
    --color: #f4f7fa;
    --color-next-layer: #ccc;
    --background-color: #1a1a1a;
    --background-color-next-layer: #333;
    --link-color: cornflowerblue;
}


/*HTML Overwrites*/
* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

*:disabled {
    cursor: not-allowed;
}

html {
    overflow: hidden;
    margin: 0;
}

html.darkMode html {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--color);
    min-width: 100dvw;
    min-height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
}

header,
footer {
    flex-shrink: 0;
}

main {
    flex: 1;
    overflow: auto;
    /*scrollbar-gutter: stable;*/
    padding: 4px;
    padding: 4px;
}

a {
    color: var(--link-color);
    transition: color 0.3s ease;
}

p {
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 0px;
    margin-right: 4px;
}

ul,
ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

html.darkMode input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

html.darkMode input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

html.darkMode input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

td,
th,
table {
    /*Join table borders*/
    border-collapse: collapse;
}

table {
    margin: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}


/*Custom class = styledTable*/
.styledTable {
    border: solid var(--color) 3px;
    white-space-collapse: preserve-spaces;
}

.styledTable tr {
    transition: 0.3s;
}

.styledTable tr:first-child {
    border-bottom: solid var(--color) 3px;
}

.styledTable tr:hover {
    background-color: var(--background-color-next-layer);
}

.styledTable .trHighlight {
    background-color: var(--table-highlight-color);
}

.styledTable th {
    background-color: var(--table-header-color);
    border-top: solid var(--color) 2px;
    border-left: solid var(--color) 2px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.styledTable th:last-child {
    border-right: solid var(--color) 2px;
    border-left: solid var(--color) 2px
}

.styledTable td {
    border: solid var(--color) 2px;
}

.styledTableNoWrap td,
.styledTableNoWrap th,
.styledTableNoWrap table {
    text-wrap-mode: nowrap;
    white-space: nowrap;
}

*[form-icon] {
    min-height: 40px;
    min-width: 40px;
    padding: 4px;
}

*[form-icon]>* {
    vertical-align: middle;
    height: 32px;
    padding-left: 4px;
}

*[form-icon] svg,*[form-icon] img {
    width: 32px;
    height: 32px;
    padding-left: 0px;
}


/*HTML styling = button*/
button {
    --btn-color: white;
    --btn-background-color: black;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--btn-color);
    background-color: var(--btn-background-color);
    font-weight: 700;
    font-size: 16px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    margin: 4px;
    vertical-align: middle;
    display: inline-block;
}

button:hover:not(:disabled) {
    /*background-color: gray;*/
    transition: 0.5s;
    filter: saturate(2);
}

button:disabled {
    /*background-color: gray;*/
    cursor: not-allowed;
    filter: saturate(0.5);
}

.formButtonInline {
    width: auto;
    height: 1.5rem;
    margin-right: 0.25rem;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
}


/*Custom object = form-input*/
form-input {
    min-height: 34px;
    margin: 4px;
    display: block;
    width: auto;
}

form-input>div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: border-color 0.5s ease;
    border-radius: 4px;
    border: 1px solid var(--color);
}

form-input>div>img {
    height: 20px;
    margin: 2px 0.25rem;
    display: inline;
}

html.darkMode form-input img {
    filter: invert(1)
}

form-input>div>input,
form-input>div>select {
    border: none;
    margin: 0.25rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
    background-color: var(--background-color);
    color: var(--color);
}

form-input>div>textarea {
    border: none;
    margin: 4px;
    display: inline-block;
    margin-left: 0px;
    vertical-align: top;
    position: relative;
    width: 100%;
    background-color: var(--background-color);
    color: var(--color);
}

form-input>.listHolder {
    position: relative;
    top: 0px;
    left: 0px;
    width: calc(100%-4px);
    max-height: 100px;
    flex-direction: column;
    align-items: start;
    display: flex;
    overflow: auto;
    z-index: 1;
    border-radius: 4px;
    margin: 2px;
    border: none;
}

form-input>.listHolder>div {
    width: 100%;
    cursor: pointer;
    background-color: var(--background-color-next-layer);
}

form-input>.listHolder>div:hover {
    background-color: gray;
}

form-input>div>p {
    margin-top: 8px;
    margin-left: 4px;
}

form-input>div>input[type="color"] {
    margin-bottom: 8px;
    height: 26px
}

form-input>div>input:focus {
    outline: none;
}

form-input>div>textarea:focus {
    outline: none;
}

.formInputFocus {
    border-color: var(--color-next-layer);
}


/*Custom object = form-toggle*/
form-toggle .labelBefore {
    display: inline;
    position: relative;
    margin-right: 4px;
}

form-toggle {
    margin: 4px;
    display: inline-flex;
    align-items: center;
}

form-toggle .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

form-toggle .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

form-toggle .toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}

form-toggle .toggle .slider:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 4px;
    bottom: 4.5px;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
}

form-toggle .formSwitchChecked .slider:before {
    transform: translateX(27px);
}

form-toggle .labelAfter {
    margin-left: 4px
}


/*Custom element = form-row*/
form-row {
    margin: 4px;
}

form-row p:first-child {
    margin-top: 0px;
}


/*Custom class = formToast*/
.formToastHolder {
    gap: 4px;
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    flex-direction: column;
    float: right;
    display: flex;
    z-index: 10;
    pointer-events: none;
}

.formToast {
    margin-left: auto;
    background-color: var(--background-color);
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    width: max-content;
    pointer-events: all;
    color: black;
    transition: all;
}

.formToast img {
    height: 32px;
    max-height: 32px;
}

.formToast .timeout {
    width: 100%;
    height: 4px;
    margin-bottom: 16px;
    border-radius: 4px;
    animation: timeoutToast 10s 0.5s forwards;
}

@keyframes timeoutToast {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.formToast .content {
    display: flex;
    flex-direction: row;
}

.formToast .contentText {
    margin-left: 10px;
    padding-top: 0.25rem;
}

.formToast .formHeader {
    margin-top: -16px;
    margin-bottom: 0px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/*Custom element = form-box*/
form-box {
    background-color: var(--background-color);
    color: var(--color);
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    padding: 20px;
    padding-bottom: 10px;
    opacity: 0;
    animation: fadeIn 2s forwards;
    margin: 20px;
    width: auto;
    height: auto;
    overflow: hidden;
}

body[form-box-holder] {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--form-background);
}

.formBackgroundLogo {
    top: 4px;
    position: fixed;
    height: 40%;
}

.formHeader {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 10px;
}

.formBoxScrollContent {
    overflow: auto;
    max-width: calc(100%);
    max-height: calc(100vh - 70px);
    margin-bottom: 20px;
}


/*Custom class = formDialog*/
.formDialog {
    background-color: var(--background-color);
    color: var(--color);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    font-size: large;
    overflow: auto;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: max-content;
    height: max-content;
    animation: none;
    /*white-space: ;*/
}

.formDialogFadeIn {
    opacity: 0;
    animation: fadeIn 0.25s forwards;
}

.formDialogFadeIn::backdrop {
    opacity: 0;
    animation: fadeIn 0.25s forwards;
}

.formDialog.is-hidden {
    pointer-events: none;
    opacity: 1;
    animation: fadeOut 0.25s forwards;
}

.formDialog.is-hidden::backdrop {
    opacity: 1;
    animation: fadeOut 0.25s forwards;
}

.formDialogTitleDrag {
    background-color: var(--background-color-next-layer);
    cursor: move;
}


/*Custom classes = formButtonBox*/
.formButtonBoxHolder {
    display: flex;
    gap: 12px;
    margin: 4px;
}

.formButtonBox {
    display: flex;
    justify-content: right;
    width: max-content;
    display: inline;
}

.formButtonBox>:last-child {
    margin-right: 0px;
}

.formButtonBox>:first-child {
    margin-left: 0px;
}


.formJustifyRight {
    justify-content: right;
    margin-left: auto;
}

.formJustifyLeft {
    justify-content: left;
    margin-right: auto;
}

.formButtonBox:last-of-type {
    display: block;
}

.formButtonBoxTable {
    padding: 2px 4px;
    justify-content: center;
    text-align: center;
}


/*Custom class = formCollapsable*/
.formCollapsable {
    display: grid;
    grid-template-rows: 1fr;
    opacity: 1;
    transition: grid-template-rows 0.4s ease, opacity 0.5s ease, padding 0.5s ease, margin 0.5s ease;
    visibility: visible;
    pointer-events: auto;
}

.formCollapsable>* {
    overflow: hidden;
}

.formCollapsable[collapsed] {
    grid-template-rows: 0fr;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
    visibility: collapse;
}


/*Classes*/
.allowSelect {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-drag: unset;
}

.lineVerticalCenter {
    display: flex;
    align-items: center;
    gap: 4px;
}

.formTransitionAnimations {
    transition: all 1s;
}

.FadeInAnimation {
    animation: fadeIn 2s forwards;
}

.FadeOutAnimation {
    animation: fadeOut 2s forwards;
}

.puslatingEffectHalf {
    animation: pulseFadeHalf 2s infinite;
}

@keyframes pulseFadeHalf {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.puslatingEffectFull {
    animation: pulseFadeFull 2s infinite;
}

@keyframes pulseFadeFull {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

.formCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerHorizontaly {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageAsText {
    width: auto;
    height: 1.5rem;
    vertical-align: text-top;
    margin-right: 0.25rem;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-200%);
    }
}

.formFlexRow {
    /*Places items next to each other*/
    display: flex;
    flex-flow: row nowrap;
}

.formFlexColumn {
    /*Places items under each other*/
    display: flex;
    flex-flow: column nowrap;
}

.flexContainerRow {
    flex-direction: row;
}

.formProgress {
    height: 32px;
    max-height: 32px;
    pointer-events: none;
    width: 100%;
}

.tableScrollHolder {
    overflow: scroll;
}


/* Classes for colors*/
.formOkColor {
    background: #02aa42;
}

.formWarnColor {
    background: #dba401;
}

.formErrorColor {
    background: #cf0000;
}

.formInfoColor {
    background: #008ce8;
}

.formBlackColor {
    background: black;
    color: white;
}

.formOkBorderColor {
    border-color: #02aa42;
}

.formWarnBorderColor {
    border-color: #dba401;
}

.formErrorBorderColor {
    border-color: #cf0000;
}

.formInfoBorderColor {
    border-color: #008ce8;
}