* {
  /*margin: 0;*/
  /*font-family: "Fira Code", monospace;*/
  user-select: none;
  -moz-user-select: none;
}

.allowSelect {
  user-select: text;
  -moz-user-select: text;
}

html {
  overflow: hidden;
  margin: 0;

  --posX: 10vw;
  --posY: 0px;
  --width: calc(100% - 15vw - 20px);
  --height: calc(100% - 20px);
}

@media (prefers-color-scheme: dark) {
    html {
      background-color: black;
      color: white;
    }
    a  {
      color: cornflowerblue;
    }
}

html {
  --posX: 2px;
  --posY: 2px;
}

button {
  margin-top: 4px;
  margin-bottom: 4px;
}

h2 {
  margin-bottom: 0px;
}

button {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

header {
  flex-shrink: 0;
  margin-bottom: 4px;
}

footer {
  margin-top: 4px;
  flex-shrink: 0;
}

main {
  flex: 1;
  overflow: auto;
  scrollbar-gutter: stable;
}

.pageHolder {
  max-width: 100dvw;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.flexContainerRow{
  flex-direction: row;
}

form-input {
  width: max-content;
}