td, th, table {
    /*Join table borders*/
    border-collapse: collapse;
  }
.styledTable {
    border: solid black 3px;
    white-space-collapse: preserve-spaces;
  }
  @media (prefers-color-scheme: dark) {
    .styledTableAuto {
    border: solid white 3px;
  }
  }
.styledTableNoWrap td,th,table {
  text-wrap-mode: nowrap;
  white-space: nowrap;
}
.styledTable tr:first-child {
    border-bottom: solid black 3px;
  }
  .styledTable tr:hover {
      background-color:lightgray;
    }
@media (prefers-color-scheme: dark) {
  .styledTableAuto tr:first-child {
    border-bottom: solid white 3px;
  }
  .styledTableAuto tr:hover {
   color:black;
  }
}
.styledTable .trHighlight {
    background-color: rgb(255, 180, 0);
  }
.styledTable th {
    background-color: rgb(0, 200, 0);
    border-top: solid black 2px;
    border-left: solid black 2px;
    text-align: center;
    font-weight: bold;
  }
.styledTable th:last-child {
    border-right: solid black 2px;
    border-left: solid black 2px
  }
.styledTable td {
    border: solid black 2px;
  }

@media (prefers-color-scheme: dark) {
  .styledTableAuto th {
    border-top: solid white 2px;
    border-left: solid white 2px;
    text-align: center;
    color: black;
  }
.styledTableAuto th:last-child {
    border-right: solid white 2px;
    border-left: solid white 2px
  }
.styledTableAuto td {
    border: solid white 2px;
  }
}

.tableScrollHolder {
  overflow: scroll; 
}